
.navbar {
    background-color: #151515;
}
.botonRegistro{
    background-color: #255C7E;
    color: black;
}
.botonRegistro:hover{
        background-color: rgba(165, 42, 42, 0);
        color: rgb(255, 255, 255);
        border: #255C7E solid 1px;
}