@font-face {
    font-family: 'SairaSemiCondensed-Bold';
    src: url('/recursos/SairaSemiCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Light';
    src: url('/recursos/SairaSemiCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Medium';
    src: url('/recursos/SairaSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container1 {
    padding-top: 100px;
    color: #215c7a;
    text-align: center;
    font-family: 'SairaSemiCondensed-Bold';
}



.infoUsuario {
    display: flex;
    justify-content: center;
    gap: 40px; 
    color: #000000;
    padding: 15px 30px;

}

.infoUsuario p {
    margin: 0; /* Quita el espacio extra que traen las etiquetas <p> por defecto */
    font-size: 1.1rem;
}



.tableAlquileresP {
    border-radius: 5px;

}

.tableAlquileresP thead th {
    background-color: #215c7a;
    color: #ffffff;
    font-family: 'SairaSemiCondensed-Light';
    font-size: 14px;
}

.tableAlquileresP tbody tr td {
    font-family: 'SairaSemiCondensed-Light';
}

.formulario-alquiler {
    background-color: #f4f6f8;
    border: 1px solid #215c7a;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}


.titulo-fechas {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    font-family: 'SairaSemiCondensed-Medium';
    color: #215c7a;
    margin-bottom: 20px;
}




.form-label {
    font-size: 15px;
    font-family: 'SairaSemiCondensed-Light';
}



.form-control {
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 0.6rem 1rem;
    transition: all 0.2s;
}

.form-control:focus {
    border-color: #215c7a;
    box-shadow: 0 0 0 0.25rem rgba(33, 92, 122, 0.2);
}


.boton-aceptar {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #215c7a;
    background-color: #215c7a;
    color: white;
    transition: all 0.3s ease;
}

.boton-aceptar:hover {
    background-color: #17455c;
    border-color: #17455c;
}

.boton-aceptar:disabled {
    background-color: #a6a7a9;
    border-color: #a6a7a9;
    cursor: not-allowed;
}