
.seccion-contacto {
  background-color: #f4f6f8;
  min-height: 80vh;
}

.tarjeta-informacion {
  border-radius: 12px;
  background-color: #ffffff;
}

.lista-contacto {
  list-style: none; /* Quita los puntos de la lista */
  padding-left: 0;
  font-size: 1.1rem;
  color: #444;
}

.lista-contacto li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.lista-contacto strong {
  margin-right: 8px;
  color: #333;
}


.contenedor-mapa {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
}