@font-face {
    font-family: 'SairaSemiCondensed-Bold';
    src: url('/recursos/SairaSemiCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Light';
    src: url('/recursos/SairaSemiCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Medium';
    src: url('/recursos/SairaSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container1 {
    padding-top: 100px;
    color: #215c7a;
    text-align: center;
    font-family: 'SairaSemiCondensed-Bold';
}



.tableMisAlquileresP {
    border-radius: 5px;

}

.tableMisAlquileresP thead th {
    background-color: #215c7a;
    color: #ffffff;
    font-family: 'SairaSemiCondensed-Light';
    font-size: 14px;
}


.btn-danger {
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #215c7a;
    background-color: #215c7a;
    color: white;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #17455c;
    border-color: #17455c;
}

.btn-danger:disabled {
    background-color: #a6a7a9;
    border-color: #a6a7a9;
    cursor: not-allowed;
}