header {
    background-color: rgb(23, 23, 60);
    border-bottom: 1px;
}

.navbar {
    padding: 8px 30px;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-nav {
    gap: 15px;
}
.nav-link {
    color: aliceblue;
    font-size: 17px;
    padding: auto;
}

.nav-link:hover{
    color: rgb(60, 57, 214);
    font-weight: bolder;
}

.btnPerfil { 
    color: #333333; 
     font-size: 25px; 
    padding: 5px 10px; 

} 

.btnPerfil:hover { 
    color: #0d6efd; }

