.tarjeta-hover {
  cursor: pointer;
  transition: all 0.3s ease;
}

.tarjeta-hover:hover {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(13, 110, 253, 0.3) !important;
}

.tarjeta-hover:hover .texto-vehiculo {
  color: white !important;
}

.tarjeta-hover:hover .icono-vehiculo,
.tarjeta-hover:hover .flecha-vehiculo {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}