
@font-face {
    font-family: 'SairaSemiCondensed-Bold';
    src: url('/recursos/SairaSemiCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Light';
    src: url('/recursos/SairaSemiCondensed-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaSemiCondensed-Medium';
    src: url('/recursos/SairaSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container1 {
    margin-top: 100px;
    padding-left: 20px ;
    padding-right: 20px;
}

.Tittle {
    
    text-align: center;
    font-family: 'SairaSemiCondensed-Bold';
    color: #255C7E;
}

.cards {
    font-family: 'SairaSemiCondensed-Medium';
    text-align: center;
    
}

.tableAlquileresP th {
    font-family: 'SairaSemiCondensed-Medium';
    color: white;
    background-color: #255C7E;

    
}

.tableAlquileresP td {
    font-family:'SairaSemiCondensed-Light';
    color: black;
    background-color: rgba(171, 170, 170, 0.673);

}

.card-text  {
    font-family: 'SairaSemiCondensed-Light' ;
    color: #255C7E;
}